.categories-ticket-wrapper{
    .categories-ticket-box{
        span{
            width: 20px;
            height: 200px;
            background: red;
        }
        p{
            font-size: 12px;
            margin: 0px;
        }
    }
}