.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal13 {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Modal Content/Box */
  .modal-content13 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    max-width: 500px;
    width: 100%; /* Could be more or less, depending on screen size */
  }
  
  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .lg-content-modal{
    padding-top: 30px;
    margin-top: 50px;
    h2{
        color: #0dccd7;
        font-size: 18px;
        border-bottom: 4px solid #0dccd7;
        width: 50%;
        text-align: center;
        border-radius: 2px;
        margin-bottom: 20px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        font-weight: 500;
        display: flex;
        justify-content: center;
    }
    .option-one-wrapper{
        .form-wrapper{
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
        
        .input-wrapper{
            select{
                border: 0px !important;
                border-bottom: 1px solid #0dccd7 !important;
            }
            input{
                // border-radius: 3px;
                width: 100%;
                margin-bottom: 15px;
                height: 30px;
                padding-left: 10px;
                padding-right: 10px;
                border: 0px;
              
                border-bottom: 1px solid #0dccd7;
                &:focus-visible{
                    outline: unset;
                }
                &:focus{
                    outline: unset;
                }

            }
        }
        .input-wrapper{
            display: flex;
            height: 30px;
            gap: 10px;
        }
    }
  }
  .lg-close{
    padding: 8px 12px;
    margin: 4px 0;
    font-family: 'Montserrat', sans-serif;
    background: #22b3c1;
    color: #fff;
    border-color: #22b3c1;
    box-shadow: 0px 0 2px 0 #22b3c1;
    position: absolute;
    font-size: 18px;
  }
  .option-two-wrapper{
    a{
        color: #fff;
        text-decoration: underline;
        font-size: 13px;
        padding: 0px;
        font-weight: 600;
        text-transform: uppercase;
        background: #0dccd7;
        padding: 10px;
        border-radius: 6px;
        text-decoration: none;
        text-align: center;
        margin-bottom: 20px;
        display: block;
        box-sizing: border-box;
        transition: 0.4s;
        border: 1px solid #0DCCD7;
        font-weight: 400;
        &:hover{
            color: #0dccd7;
            background: #fff;
        }
    }
 
  }
  .lg-link{
    color: #fff;
    text-decoration: underline;
    font-size: 13px;
    padding: 0px;
    font-weight: 600;
    text-transform: uppercase;
    background: #0dccd7;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #0DCCD7;
    transition: 0.4s;
    font-weight: 400;
    margin-top: 20px;
    &:hover{
        color: #0dccd7;
        background: #fff;
    }
}
.or-lg{
    // font-size: 25px;
    // margin: 10px 0px;
    // text-align: center;

    position: relative;
    span{
        position: absolute;
    top: -11px;
    text-align: center;
    width: 30%;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    }
}
.option-two-wrapper{
    h3{
        font-size: 18px;
        margin-bottom: 10px;
    }
}
.option-one-wrapper{
    h3{
        font-size: 18px;
        margin-bottom: 10px;
    }
}



@media screen and (max-width: 767px) {
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 10px;
        border: 1px solid #888;
        width: 90%;
        box-sizing: border-box;
    }
    .lg-content-modal h2 {
        color: #0dccd7;
        font-size: 22px;
        border-bottom: 4px solid #0dccd7;
        width: 50%;
        text-align: center;
        border-radius: 2px;
        margin-bottom: 40px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        font-weight: 500;
        display: flex;
        justify-content: center;
        width:  242px;
    }
    .option-one-wrapper .input-wrapper{
        position: relative;
    }
    .lg-content-modal .option-one-wrapper .input-wrapper input{
        padding-left: 30px;
    }
    .option-one-wrapper h3 {
        font-size: 16px;
        margin-bottom: 6px;
        font-weight: bolder;
    }
    .lg-content-modal .option-one-wrapper .input-wrapper input{
        margin-bottom: 10px;
    }
    .ph-number-input{
        padding-left: 10px !important;
    }
    .lg-content-modal .option-one-wrapper .form-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .lg-link{
        margin-top: 10px;
        margin-bottom: 26px;
    }
    .option-two-wrapper{
        margin-top:26px;
    }
    .or-lg {
        font-size: 18px;
        text-align: center;
    }
    .option-two-wrapper a{
        height: 32px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .option-two-wrapper h3 {
        font-size: 16px;
        margin-bottom: 12px;
        font-weight: 600;
    }
}