
.dot {
    height: 10px;
    width: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0px;
    background-color: #61c3e3;
    border-radius: 50%;
    display: inline-block;
}
.fw-normal {
    font-weight: 400 !important;
}
.track-line {
    height: 2px !important;
    background-color: #61c3e3;
    opacity: 1;
    border: 0px;
}
hr {
    margin: 1rem 0;
    color: inherit;
    // background-color: currentColor;
    border: 0;
    opacity: .25;
}
.dot {
    height: 10px;
    width: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0px;
    background-color: #61c3e3;
    border-radius: 50%;
    display: inline-block;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.text-muted {
    color: #6c757d !important;
}
.small, small {
    font-size: .875em;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.card-stepper {
    z-index: 0;
}
.track-line {
    height: 2px !important;
    background-color: #61c3e3;
    opacity: 1;
}


.form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    // background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.main-btn {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    background: #22b3c1;
    height: 50px;
    display: inline-block;
    line-height: 49px;
    padding: 0 30px;
    border-radius: 3px;
    border: 1px solid #22b3c1;
}
.card-stepper {
    z-index: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
button {
    // padding: 8px 12px;
    margin: 4px 0;
    font-family: 'Montserrat', sans-serif;
    // background: #22b3c1;
    // color: #fff;
    // border-color: #22b3c1;
    box-shadow: 0px 0 2px 0 #22b3c1;
}

.col-md-2.d-flex.flex-column {
    align-items: flex-start;
}



.ticket-details{
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 15px !important;
    // border-bottom: 1px solid #0dccd7;
    margin-bottom: 35px;
    h2{
        font-size: 22px;
        padding-bottom: 10px;
        border-bottom: 1px solid #0dccd7;
        margin-bottom: 15px !important;
    }
    ul{
        li{
            // margin-bottom: 5px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            gap: 2px;
            strong{
                // max-width: 210px;
                // width: 100%;
                display: flex;
                align-items: center;
                gap: 7px;
            }
            div{
                display: flex;
                align-items: center;
                img{
                    margin-left: 10px;
                }
            }
        }
    }
    p{
        font-weight: 600;
    }
}
.wrpr {
    align-items: start;
}
h3.lct-head {
    font-weight: 600;
}
.row.d-flex.flex-row.justify-content-between.align-items-center {
    font-size: 12px;
}
.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
.col-md-2.d-flex.flex-column {
    font-size: 12px;
}
span.lead.fw-normal {
    font-size: 15px;
}
span.text-muted.small {
    font-size: 14px;
}
h3.lct-head {
    font-size: 21px;
}
.card.card-stepper {
    height: 235px;
}
hr.my-4 {
    margin-top: 9px !important;
    margin-bottom: 9px !important;
}
hr.flex-fill.track-line {
    margin-top: 8px;
    margin-bottom: 8px;
}
.row.d-flex.flex-row.justify-content-between.align-items-center {
    max-height: 44px;
}
.d-flex.justify-content-between.align-items-center.main-tcp {
    max-height: 38px;
}
h4.fw-700.m-0.text-white {
    height: 21px;
}
.ticket-details ul li{
    font-size: 14px;
}
.ticket-details p{
    font-size: 14px !important;
}
.toast-pr{
    margin-top: 20px;
}
.ticket-details{
    margin-bottom: 0px !important;
}
.card.p-3.shadow-sm.br-10.mb-5 {
    margin-bottom: 10px !important;
}
.container.py-5 {
    padding-top: 36px !important;
}
h3.lct-head {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media screen and (max-width: 767px) {
    .card-body {
        padding: 10px !important;
    }
    span.mb-version {
        display: flex;
        font-size: 12px;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 4px;
    }
    .ticket-details ul li {
        margin-bottom: 10px;
        display: flex;
        align-items: flex-start;
        gap: 2px;
        font-size: 10px;
    }
    .card.p-3.shadow-sm.br-10.mb-5 {
        padding: 5px !important;
    }
    .ticket-details ul li strong {
        // max-width: 90px;
        width: unset;
        display: flex;
        gap: 5px;
        align-items: flex-start;
    }
    .ticket-details p {
        font-weight: 600;
        font-size: 12px !important;
    }
    .toast-pr{
        font-size: 12px !important;
    }
    button.main-btn.btn-hover.h_50.w-100 {
        height: 30px;
        font-size: 12px;
        padding: 0px !important;
        line-height: normal;
    }
        
    .toast-pr {
        color: #0dccd7;
        font-size: 18px;
        margin-top: 15px !important;
        background-color: #5a5a5a1c;
        padding: 10px 10px;
    }
    .card.p-3.shadow-sm.br-10.mb-5 {
        padding: 5px !important;
        margin-bottom: 10px !important;
    }
    span.mb-version {
        display: flex;
        font-size: 12px;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 4px;
        height: 7px;
    }
    .fw-normal {
        font-weight: 400 !important;
    }
    .d-flex {
        display: flex !important;
        align-items: flex-start;
    }
    .card-body.p-4 {
        padding: 10px !important;
    }
    span.text-muted.small {
        font-size: 10px;
    }
    // .d-flex.justify-content-between.align-items-center {
    //     align-items: flex-start !important;
    // }
    h3.lct-head {
        font-size: 14px;
    }
    span.lead.fw-normal {
        font-size: 14px;
    }
    .main-tcp {
        align-items: flex-start !important;
    }
    br.sert {
        display: none;
        margin-top: -5px !important;
    }

    .d-flex.justify-content-between.align-items-center.main-tcp {
        max-height: max-content;
    }
    .row.d-flex.flex-row.justify-content-between.align-items-center {
        max-height: max-content;
    }
    .card.card-stepper {
        height: auto;
    }
}








ol, ul {
    padding-left: 0;
}

.container.py-5{
    background: #f2f2f2;
}

























.p-4 {
    padding: 1.5rem !important;
}
.card-body {
    flex: 1 1 auto;
}
.align-items-center {
    align-items: center !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.d-flex {
    display: flex !important;
}
.flex-column {
    flex-direction: column !important;
}
.d-flex {
    display: flex !important;
}
.fw-normal {
    font-weight: 400 !important;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.text-muted {
    color: #6c757d !important;
}
.small, small {
    font-size: .875em;
}