
#search-form {
    margin-top: -25px;
}
.search-form-area {
    background: #FFFFFF;
    box-shadow: 4px 14px 28px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px 30px;
    position: relative;
}
.search-main-form .categories-search {
    position: inherit;
    right: 30px;
    top: 0;
    margin-bottom: 20px;
}
.categories-search {
    position: absolute;
    right: 30px;
    top: 25px;
}
.categories-search .nav-tabs {
    border-bottom: none;
}
.categories-search .nav-tabs .nav-item.show .nav-link, .categories-search .nav-tabs .nav-link.active {
    color: #22b3c1;
    border-color: none;
}

.categories-search .nav-tabs .nav-link {
    margin-bottom: 0;
    color: #000;
    border-radius: 6px;
    border: none;
    font-weight: 500;
    background: transparent;
}
.seats-Logo {
    width: 40px;
}
.text-content {
    display: inline-block;
    padding-top: 2px;
    padding-left: 10px;
}
.form-control {
    height: 45px;
    border: 2px dashed #dddddd75;
    padding: 10px 22px;
    font-size: 13px;
}
.btn_theme {
    color: #fff;
    background-color: #22b3c1;
    transition: background-color 0.4s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* padding: 12px 24px; */
    border: none;
    cursor: pointer;
    outline: none;
}

.btn_theme:hover {
    background-color: #1a8795;
}
.btn_theme:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 580px;
    height: 550px;
    margin: auto;
    background: #000;
    border-radius: 50%;
    z-index: -1;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: translateX(-50%) translateY(-5%) scale(.4);
    transform: translateX(-50%) translateY(-5%) scale(.4);
    transition: .4s all ease-in-out;
}

.section_padding {
    padding-top: 30px;
    padding-bottom: 30px;
}
.category-item {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}
.category-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.red {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-left: 20px solid red;
}
.category-text {
    margin-left: 5px;
}
.flight_search_item_wrappper {
    margin-bottom: 30px;
}
.search-items {
    /* border-color: #22b3c1; */
    background: #F3EFF9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.multis-area {
    display: flex;
    justify-content: space-between;
}
.search-left {
    display: flex;
    align-items: center;
    padding: 0 0px 0 23px;
}
.ticket img {
    width: 90%;
}
.flight_right_arrow {
    text-align: center;
}
.flight_right_arrow p {
    font-size: 11px;
    line-height: 18px;
}
.flight_right_arrow h6 {
    font-size: 11px;
    font-weight: 700;
    padding-top: 10px;
}
.search-middel {
    display: flex;
    align-items: center;
    padding-left: 0px;
}
.search-destination {
    padding-left: 33px;
}
.search-destination p {
    font-size: 14px;
    line-height: 16px;
}
.search-destination h6 {
    padding-top: 5px;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 140px;
}
.search-right {
    background: #fff7f7;
    padding: 25px 16px 20px 25px;
}   
.search-right h2 {
    padding-top: 10px;
}
.search-right a {
    margin-top: 13px;
}

.btn_sm {
    font-size: 14px;
    padding: 5px 18px;
}
