@import '../../index.css';
.header-wrapper {
  width: 100%;
  background-color: #121212;
  position: sticky;
  top: 0;
  z-index: 999;
}
.header-wrapper .header-wrapper-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  height: 80px;
}
.header-wrapper .header-wrapper-inner .header-left-fragment {
  display: flex;
  align-items: center;
}
.header-wrapper .header-wrapper-inner .header-left-fragment .logo-wrapper {
  margin-right: 0px;
}
.header-wrapper .header-wrapper-inner .header-right-fragment {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-wrapper .header-wrapper-inner .header-right-fragment .menu-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}
.header-wrapper .header-wrapper-inner .header-right-fragment .menu-wrapper ul li {
  margin-right: 0px;
  cursor: pointer;
  color: #fff;
  padding: 0px 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
}
.header-wrapper .header-wrapper-inner .header-right-fragment .menu-wrapper ul li:last-child {
  margin-right: 0;
}
.header-wrapper .header-wrapper-inner .header-right-fragment .menu-wrapper ul li:hover {
  color: #0dccd7;
  transition: 0.4s;
}
.header-wrapper .header-wrapper-inner .header-right-fragment .detail-wrapper {
  display: flex;
  align-items: center;
}
.header-wrapper .header-wrapper-inner .header-right-fragment .detail-wrapper .followers {
  margin-right: 10px;
  color: #fff;
  text-decoration: underline;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  background: #0dccd7;
  border-radius: 6px;
  text-decoration: none;
  height: 25px;
}
.header-wrapper .header-wrapper-inner .header-right-fragment .detail-wrapper .phone-number-wrapper {
  border: 1px solid #0DCCD7;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  height: 25px;
}
.header-wrapper .header-wrapper-inner .header-right-fragment .detail-wrapper span {
  cursor: pointer;
  border-radius: 6px;
  color: #fff !important;
  padding: 7px 20px;
  background: #0dccd7;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
}

.nav-opener {
  position: absolute;
  color: #fff;
  border: none;
  right: 15px;
  top: 15px;
  width: 40px;
  height: 40px;
  z-index: 1;
  background: none;
  display: block;
}
.nav-opener span {
  width: 100%;
  margin: 10px 0;
  display: block;
  border-bottom: 1px solid #fff;
}

.header-right {
  border-bottom: 0px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 767px) {
  .header-right.active {
    background: transparent !important;
    -webkit-backdrop-filter: blur(13.5914px) !important;
            backdrop-filter: blur(13.5914px) !important;
  }
  .header-right.active ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0px 0px 20px 0px !important;
  }
}/*# sourceMappingURL=style.css.map */