@import 'fonts.css';



.Toastify__toast-container--top-center {
    /* top: var(--toastify-toast-top); */
    transform: unset !important;
    right: 0 !important;
    top: 117px !important;
    left: unset !important;
}
.Toastify__toast-icon.Toastify--animate-icon.Toastify__zoom-enter {
    display: none;
}



.view-more{
    border-radius: 6px;

    padding: 7px 20px;
   
    font-weight: 600;
    display: block;
    height: 35px !important;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    font-size: 14px;
    max-width: 130px;
    gap: 5px;
    width: 100%;
    align-items: center;

    transition: 0.4s;
    background: #fff;
    color: #22B3C1;
    border: 1px solid #fff;
    border: 1px solid #22B3C1;
    font-weight: 400;
}
.view-more svg{
    /* stroke: #22B3C1; */
    /* fill: #22B3C1; */
}
.view-more:hover{
    background: #22B3C1;
    color: #fff !important;
}
.view-more:hover svg path{
    stroke: #fff;
}



.chatwrapper{
    position: fixed;
    bottom: 20px;
    right: 60px;
    cursor: pointer;
    background-color: #22b3c1;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    z-index: 99;
}
.chatwrapper svg{
    fill: #fff;
}
@media screen and (max-width: 767px) {
    .chatwrapper{
        position: fixed;
        bottom: 20px;
        right: 60px;
        cursor: pointer;
        background-color: #22b3c1;
        padding: 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
    }
    .chatwrapper svg{
        fill: #fff;
    }
    .sort-row.flex.v-center.desktop {
        display: none !important;
    }
    .filter-holder-inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 15px;
        align-content: center;
        margin-bottom: 15px;
    }
    .date-wrapper-banner span{
        margin-left: 0px !important;
    }
}


.login-btn{
    border: none !important;
}


.your-class a .main-image{
    display: none;
}

.clipped-image {
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 66% 50%, 50% 100%, 0% 50%);
    /* The polygon() function defines a shape that cuts the image */
  }
  .backLan{
    background: #fff;
    gap: 1px;
  }
  .image-container {
    width: 59px; /* Adjust the width of the container */
    height: auto; /* Adjust the height of the container */
    overflow: hidden; /* Ensure the clipped part is not visible */
    display: flex;
    align-items: center;
  }
  
  .clipped-image {
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 70% 0%, 70% 100%, 0% 100%); /* Define the shape to clip */
  }
  

  @media screen and (max-width: 767px){
    .reviews-wrapper-outer .reviews-wrapper h2 {
        font-size: 42px;
    }
    .fast-marquee{
        font-size: 10px;
        height: auto !important;
    }

  }
  @media screen and (min-width: 767px){
    .header-wrapper a img{
        min-height: auto;
    }
    .fast-marquee{
        font-size: 14px !important;
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    h3 {
        font-size: 10px; /* Adjust font size for Safari */
    }
}

.ticket-page-loader{}
.page-loader{

}
/* .hidden{
    display: none;
} */
.ticket-page-loader {
    position: absolute;
    height: 100vh;
    background: #000;
    right: 0;
    left: 0;
}
.date-wrapper-banner{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 10px;
    color: #fff;
    margin-top: 15px;
}
.date-wrapper-banner span{
    margin-left: 10px;
}

.eticket-wrapper .eticket-box .left-fragment::after {
    content: '';
    position: absolute;
    top: -25px;
    bottom: 0;
    right: 0;
    width: 1px;
    /* background-color: red; */
    border-left: 1px dotted red;
    left: 105px;
    height: 171px;
  }

  .eticket-box::after {
    content: '';
    position: absolute;
    width: 27px;
    height: 27px;
    border-left: 1px solid red;
    bottom: 0;
    left: 126px;
    transform: translateX(-50%);
    border-radius: 0 0 50% 50%;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    top: -2px;
    background: #fff;
    overflow: visible;
  }
  .eticket-box::before {
    content: '';
    position: absolute;
    width: 27px;
    height: 27px;
    border-left: 1px solid red;
    bottom: 0;
    left: 113px;/* Apply skew transformation */
    border-radius: 0 0 50% 50%;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    top: auto;
    bottom: -2px;
    background: #fff;
    overflow: visible;
    transform: rotate(180deg);
    z-index: 999;
  }

  .filter-holder-inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
}

.filter-holder-inner .image-container{
    width: 138px;
    gap: 3px !important;
}
.filter-holder-inner  .img-box {
    display: flex;
    gap: 10px;
}
.st-img{
height: auto;
width: 26px;
}
.st-half {
    height: 26px;
    width: 20px;
}

/* .sort-row.flex.v-center.desktop .radios label{

} */
/* .radios input[type=radio]:checked + label {
    background: #22B3C1;
    color: #fff;
    padding: 5px 10px;
}

.radios input[type=radio]:checked + label {
    background: #22B3C1;
    color: #fff;
    padding: 5px 10px;
}

.radios label {
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    font-weight: 600;
    font-size: 13px;
    border-radius: 30px;
}


.radios input[type="radio"] {
    display: none;
} */
.radios label.checked {
    background-color: #22B3C1; /* Add your desired background color */
    color: #fff; /* Add your desired text color */
    padding: 5px 10px; /* Add your desired padding */
}

.sort-row.flex.v-center.desktop label{
    padding: 5px 10px;
}